# Name: Afsana Akter Mim

# ID :200121039

# Course Code : MGI-201

# Course Title : Industrial & Operational Manage

# Date : 24.05.2023

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'E:\Anaconda 3\Forecast.csv')

In [3]:
df

       Month  Demand   Forecast
0        May     100  100.00000
1       June      80  100.00000
2       July     110   98.00000
3     August     115   99.20000
4  September     105  100.78000
5    October     110  101.20200
6   November     125  102.08180
7   December     120  104.37362

In [4]:
df.shape

(8, 3)

In [5]:
for i in range(1, len(df)):
    previous_forecast = df.loc[i-1, 'Forecast']
    previous_demand = df.loc[i-1, 'Demand']
    current_forecast = previous_forecast + 0.1 * (previous_demand - previous_forecast)
    df.loc[i, 'Forecast'] = current_forecast

In [6]:
df.to_csv('Forecast.csv', index=False)

In [7]:
df

       Month  Demand   Forecast
0        May     100  100.00000
1       June      80  100.00000
2       July     110   98.00000
3     August     115   99.20000
4  September     105  100.78000
5    October     110  101.20200
6   November     125  102.08180
7   December     120  104.37362

In [8]:
columns = df.columns

In [9]:
columns

Index(['Month', 'Demand', 'Forecast'], dtype='object')